<section class="addNew">
    <form action="/" method="post" class="addNewform" autocomplete="off">
        <input type="text" name="todoEntry" class="add-entry">
        <button class="add-btn">Add</button>
    </form>
</section>