<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include ('header') %>
    <main>
        <h1>Create<span class="font-i">TO DO</span> Here </h1>
        <%- include('addnewbox') %>
        
    </main>
    <%- include ('footer') %>
</body>
</html>